@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  alignContent: center;
  justifyContent: center;
  textAlign: center;
}

#title {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.11em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  /* text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* CSS Grid */

.row {
  margin: 20px 0;
  max-width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col {
  float: left;
  box-sizing: border-box;
  display: inline-block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  min-width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid-25 {
  width: 25%;
}

.grid-50 {
  width: 50%;
}

.grid-75 {
  width: 75%;
}

.grid-80 {
  width: 80%;
}

.grid-100 {
  width: 100%;
}

#submitButton {
  margin: 0 auto;
  display: block;
  height: 60px;
  width: 120px;
  font-size: 20px;
  border-radius: 50px;
}

#submitButton:hover {
  border: 2px solid #282c34;
  height: 65px;
  width: 130px;
  background-color: #2ec178;
}

#search-field {
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 20px;
}

#search-field:focus, select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 2px #FFC519;
  display: inline-block;
}

#restaurantName {
  font-size: 21px;
  text-align: left;
  margin-top: 10px;
}

#instruction {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.resInfo {
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

#moreInfo {
  background-color: #2ec178;
  border-radius: 50px;
}

.tab {
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.active {
  background-color: #2ec178;
  font-weight: bold;
}

.content {
  padding: 20px;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

span p {
  display: inline;
}

#nutrients {
  display: block;
  margin-top: 10px;
}

.block {
  display: block;
}

.card-info {
  font-size: 14px;
}

.smaller-font {
  font-size: 12px;
}